<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="lobby index-wrap" th:fragment="myfoods">
    <div class="container">
        <div class="row market-row">
            <div class="col-6 market-tabs active" onclick="changeHtml('/my-foods')">
                <a>myfoods</a>
            </div>
            <div class="col-6 market-tabs" onclick="changeHtml('/market-fragment')">
                <a>market</a>
            </div>
        </div>

        <ul th:each="post: ${postList}">
            <li style="list-style: none">
                <div class="container container-post">
                    <div class="row">
                        <div class="col-6">
                            <div th:text="${post.getFoodType() + ' x' + post.getQuantity()}">
                            </div>
                        </div>
                        <div class="col" style="text-align: right">
                            <button class="material-icons icon-align btn btn-icon btn-secondary" onclick="confirm('popup with editable post');">
                                &#xE745;
                            </button>
                            <button class="material-icons icon-align btn btn-icon btn-success" onclick="confirm('popup with pickup options');">
                                &#xEA70;
                            </button>
                            <button class="material-icons icon-align btn btn-icon btn-danger" onclick="confirm('popup with delete confirmation');">
                                &#xE872;
                            </button>
                            <button class="material-icons icon-align btn btn-icon btn-info" onclick="confirm('displays reserved status (system handles this)');">
                                &#xE7FD;
                            </button>
                        </div>
                    </div>
                    <div class="row row-b">
                        <div class="col-6">
                            <div th:text="'creation date: ' + ${post.getCreationDate()}"></div>
                        </div>
                        <div class="col-6">
                            <div th:text="'expiring date: ' +${post.getExpiringDate()}"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>


    </div>
</div>


<a href="/create-food" class="float">
    <i class="material-icons my-float">&#xE145;</i>
</a>

</html>