<!DOCTYPE html>
<html class="html-form" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-globals">&nbsp</div>
    <title>foodshare A/S</title>
</head>
<body>
<div class="index-wrap"><img alt="" class="background-image" src="../img/eggplant.svg"></div>
<div th:replace="fragments/header :: header">&nbsp</div>
<main class="login index-wrap">
    <form class="form-signin container"
          oninput="pass2.setCustomValidity(pass1.value != pass2.value ? 'Passwords do not match.' : '')">
        <div class="form-floating">
            <input class="form-control" id="floatingName" placeholder="first name" type="text">
            <label for="floatingName">first name</label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="floatingLname" placeholder="last name" type="text">
            <label for="floatingLname">last name</label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="floatingEmail" placeholder="email" type="email">
            <label for="floatingEmail">email</label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="floatingAddress" placeholder="address" type="text">
            <label for="floatingAddress">address</label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="floatingPhone" placeholder="phonenumber" type="tel">
            <label for="floatingPhone">phonenumber</label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="floatingPass" name="pass1" placeholder="password" type="password">
            <label for="floatingPass">password very secure</label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="floatingConfirmPass" name="pass2" placeholder="confirm password"
                   required type="password">
            <label for="floatingConfirmPass">confirm password</label>
        </div>

        <div class="row" style="padding-top: 20px">
            <div class="btn-group col-6">
                <button class="btn btn-primary btn-form">Confirm</button>
            </div>
            <div class="btn-group col-6">
                <button class="btn btn-secondary btn-form">Cancel</button>
            </div>
        </div>

    </form>
</main>
<div th:replace="fragments/footer :: footer">&nbsp</div>
</body>
</html>