<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-globals">&nbsp</div>
    <title>foodshare A/S</title>
</head>
<body>
<div class="index-wrap"><img alt="" class="background-image" src="../img/eggplant.svg"></div>
<div th:replace="fragments/header :: header">&nbsp</div>

<main id="content-toggle">
    <div th:replace="fragments/market-fragment :: market-fragments(postList=${postList})">&nbsp</div>
</main>


<div th:replace="fragments/footer :: footer">&nbsp</div>


</body>
</html>
